body {
  background-color: #ffcb91;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.otp-container {
  background-color: #ffd6a5;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
}

.otp-container h2 {
  font-size: 16px;
  color: #4a2e05;
  margin-bottom: 25px;
  font-family: "Jomolhari", serif;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-inputs input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: #5a3a1c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.2s ease;
}

.otp-inputs input:focus {
  border: 2px solid #b36200;
  transform: scale(1.05);
}

.btn-submit {
  background-color: #5a3f20;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: "Jomhuria";
  letter-spacing: 1px;
}

.btn-submit:hover {
  background-color: #b36200;
}
