<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chabalingo • About Us</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/aboutUs.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="/js/main.js"></script>
</head>

<body>
  <div class="app">
    <%- include('../partials/_sidebar') %>

    <main class="main">
      <%- include('../partials/_topbar') %>

      <div class="outer">
        <section class="panel">
          <h2 class="pb-3 text-lg font-bold">About Chabalingo</h2>
          <p>
            Chabalingo: A Kabiteño Chavacano Web-Based Language Learning Platform is an educational website designed to 
            preserve and promote the Chavacano language through structured lessons, interactive quizzes, and accessible 
            learning tools. Developed with the goal of making Chavacano learning engaging and convenient, Chabalingo 
            provides learners with guided courses, progress tracking, and automated certification upon completion. 
            The platform also equips administrators with efficient tools for managing users, courses, and feedback. 
            By combining technology and cultural education, Chabalingo aims to revive local language appreciation and 
            empower users to explore the beauty of Chavacano in a modern, digital learning environment.
          </p>

          <h2 class="text-center pt-8 pr-10 text-lg font-bold">Meet CoreLoops</h2>


          <div class="team">
            <div class="member">
              <div class="avatar-wrap"><img src="/img/profile-bautista.jpg" alt="Member"></div>
              <div class="info"><strong>Carl Bautista</strong><span>Team Leader / Backend Programmer</span></div>
            </div>
            <div class="member">
              <div class="avatar-wrap"><img src="/img/profile-abueg.jpg" alt="Member"></div>
              <div class="info"><strong>Jayvie Abueg</strong><span>UI/UX Designer & Documentation</span></div>
            </div>
            <div class="member">
              <div class="avatar-wrap"><img src="/img/profile-borja.jpg" alt="Member"></div>
              <div class="info"><strong>Donn Denver Borja</strong><span>Main Programmer</span></div>
            </div>
            <div class="member">
              <div class="avatar-wrap"><img src="/img/profile-jose.jpg" alt="Member"></div>
              <div class="info"><strong>Lee Quince Jose</strong><span>Documetation</span></div>
            </div>
            <div class="member">
              <div class="avatar-wrap"><img src="/img/profile-torres.jpg" alt="Member"></div>
              <div class="info"><strong>Emmanuel Torres</strong><span>System Analyst & Documentation Support</span></div>
            </div>
            <div></div>
          </div>
        </section>
      </div>
    </main>
  </div>
</body>
</html>
